In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('dataset/cleaned_amazon_sale_report.csv')

In [66]:
df

,Unnamed: 0,index,order_ID,date,ship_status,fullfilment,service_level,style,sku,product_category,...,courier_ship_status,order_quantity,order_amount_($),city,state,zip,promotion,customer_type,month,monthName
0,0,0,405-8078784-5731545,2022-04-30,Cancelled,Merchant,Standard,SET389,SET389-KR-NP-S,Set,...,unknown,0,7.835425,MUMBAI,MAHARASHTRA,400081.0,no promotion,customer,4,April
1,1,1,171-9198151-1101146,2022-04-30,Shipped - Delivered to Buyer,Merchant,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,Shipped,1,4.912113,BENGALURU,KARNATAKA,560085.0,Amazon PLCC Free-Financing Universal Merchant ...,customer,4,April
2,2,2,404-0687676-7273146,2022-04-30,Shipped,Amazon,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,Shipped,1,3.980505,NAVI MUMBAI,MAHARASHTRA,410210.0,IN Core Free Shipping 2015/04/08 23-48-5-108,business,4,April
3,3,3,403-9615377-8133951,2022-04-30,Cancelled,Merchant,Standard,J0341,J0341-DR-L,Western Dress,...,unknown,0,9.114389,PUDUCHERRY,PUDUCHERRY,605008.0,no promotion,customer,4,April
4,4,4,407-1069790-7240320,2022-04-30,Shipped,Amazon,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,Shipped,1,6.944711,CHENNAI,TAMIL NADU,600073.0,no promotion,customer,4,April
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128799,128970,128970,406-6001380-7673107,2022-05-31,Shipped,Amazon,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,Shipped,1,6.255080,HYDERABAD,TELANGANA,500013.0,no promotion,customer,5,May
128800,128971,128971,402-9551604-7544318,2022-05-31,Shipped,Amazon,Expedited,SET401,SET401-KR-NP-M,Set,...,Shipped,1,12.086701,GURUGRAM,HARYANA,122004.0,IN Core Free Shipping 2015/04/08 23-48-5-108,customer,5,May
128801,128972,128972,407-9547469-3152358,2022-05-31,Shipped,Amazon,Expedited,J0157,J0157-DR-XXL,Western Dress,...,Shipped,1,8.348172,HYDERABAD,TELANGANA,500049.0,no promotion,customer,5,May
128802,128973,128973,402-6184140-0545956,2022-05-31,Shipped,Amazon,Expedited,J0012,J0012-SKD-XS,Set,...,Shipped,1,14.506461,Halol,Gujarat,389350.0,IN Core Free Shipping 2015/04/08 23-48-5-108,customer,5,May
128803,128974,128974,408-7436540-8728312,2022-05-31,Shipped,Amazon,Expedited,J0003,J0003-SET-S,Set,...,Shipped,1,8.420765,Raipur,CHHATTISGARH,492014.0,IN Core Free Shipping 2015/04/08 23-48-5-108,customer,5,May

# 1. Statistics Description:

1.1 Calculate the central trend measures and Determination of dispersion measures

In [8]:
# Convert relevant columns to numeric types for calculation
df['order_amount_($)'] = pd.to_numeric(df['order_amount_($)'], errors='coerce')

In [ ]:
# Group by product category
category_grouped = df.groupby('product_category')

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001A4CBC7AAB0>

In [17]:
# Calculate count, mean, median, mode, range, variance, and standard deviation for order_amount_($)
count_category = category_grouped['order_amount_($)'].count()
mean_amount = category_grouped['order_amount_($)'].mean()
median_amount = category_grouped['order_amount_($)'].median()
mode_amount = category_grouped['order_amount_($)'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else None)
range_amount = category_grouped['order_amount_($)'].agg(lambda x: x.max() - x.min())
variance_amount = category_grouped['order_amount_($)'].var()
std_dev_amount = category_grouped['order_amount_($)'].std()
sum_amount = category_grouped['order_amount_($)'].sum()

In [19]:
# Combine all measures into a DataFrame
dispersion_df = pd.DataFrame({
    'Count': count_category,
    'Mean Amount ($)': mean_amount,
    'Median Amount ($)': median_amount,
    'Mode Amount ($)': mode_amount,
    'Range Amount ($)': range_amount,
    'Variance Amount ($)': variance_amount,
    'Standard Deviation ($)': std_dev_amount,
    'Sum ($)': sum_amount
})

In [20]:
dispersion_df

,Count,Mean Amount ($),Median Amount ($),Mode Amount ($),Range Amount ($),Variance Amount ($),Standard Deviation ($),Sum ($)
product_category,,,,,,,,
Blouse,925,6.348315,6.593846,7.561750,15.325066,4.317692,2.077906,5872.191054
Bottom,440,4.475676,4.174086,6.267178,12.444584,2.296932,1.515563,1969.297236
Dupatta,3,3.690134,3.690134,3.690134,0.000000,0.000000,0.000000,11.070402
Ethnic Dress,1158,8.672360,9.655689,10.344474,17.531161,9.746098,3.121874,10042.592728
Saree,164,9.544681,9.558052,10.707438,24.899330,5.983793,2.446179,1565.327741
Set,50209,9.905602,9.182989,7.319774,67.559699,12.249595,3.499942,497350.392965
Top,10613,6.406523,6.424463,6.944711,21.741544,3.148547,1.774415,67992.428510
Western Dress,15491,9.130138,9.001507,8.892618,34.602568,4.083684,2.020813,141434.964862
kurta,49801,5.630416,5.432361,4.827421,33.828245,3.232819,1.798004,280400.338517

1.2 Visual charts