In [1]:
import pandas as pd

In [ ]:
import yfinance as yf

df = yf.download(tickers = "GC=F", start="2019-01-01", end="2024-11-6", interval='1d')
df

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,GC=F,GC=F,GC=F,GC=F,GC=F,GC=F
Date,,,,,,
2019-01-02 00:00:00+00:00,1281.000000,1281.000000,1286.000000,1277.599976,1286.000000,149
2019-01-03 00:00:00+00:00,1291.800049,1291.800049,1292.000000,1286.699951,1286.800049,10
2019-01-04 00:00:00+00:00,1282.699951,1282.699951,1294.199951,1275.300049,1294.199951,34
2019-01-07 00:00:00+00:00,1286.800049,1286.800049,1286.800049,1286.599976,1286.800049,2
2019-01-08 00:00:00+00:00,1283.199951,1283.199951,1283.199951,1278.199951,1280.500000,54
...,...,...,...,...,...,...
2024-10-30 00:00:00+00:00,2788.500000,2788.500000,2789.000000,2774.600098,2774.600098,231
2024-10-31 00:00:00+00:00,2738.300049,2738.300049,2787.500000,2733.500000,2787.399902,849
2024-11-01 00:00:00+00:00,2738.600098,2738.600098,2756.000000,2734.199951,2745.500000,109
2024-11-04 00:00:00+00:00,2736.100098,2736.100098,2737.100098,2736.100098,2736.500000,16
2024-11-05 00:00:00+00:00,2740.300049,2740.300049,2743.899902,2740.300049,2743.000000,16

In [ ]:
df.to_csv('C:/HK1/PTTK/new/-STAT3013.-P12_Nhom2-/dataset/gc=f.csv')

In [14]:
df = pd.read_csv('gc=f.csv')

In [15]:
# Convert the "Date" column to a datetime format and remove the time component
df['Date'] = pd.to_datetime(df['Date']).dt.date

In [19]:
df.to_csv('C:/HK1/PTTK/new/-STAT3013.-P12_Nhom2-/dataset/cleaned_gc=f.csv')

In [1]:
df

NameError: name 'df' is not defined