In [1]:
import pandas as pd
import matplotlib as mlb

In [2]:
df = pd.read_csv('kz.csv')
df

,event_time,order_id,product_id,category_id,category_code,brand,price,user_id
0,2020-04-24 11:50:39 UTC,2.294360e+18,1.515970e+18,2.268110e+18,electronics.tablet,samsung,162.01,1.515920e+18
1,2020-04-24 11:50:39 UTC,2.294360e+18,1.515970e+18,2.268110e+18,electronics.tablet,samsung,162.01,1.515920e+18
2,2020-04-24 14:37:43 UTC,2.294440e+18,2.273950e+18,2.268110e+18,electronics.audio.headphone,huawei,77.52,1.515920e+18
3,2020-04-24 14:37:43 UTC,2.294440e+18,2.273950e+18,2.268110e+18,electronics.audio.headphone,huawei,77.52,1.515920e+18
4,2020-04-24 19:16:21 UTC,2.294580e+18,2.273950e+18,2.268110e+18,NaN,karcher,217.57,1.515920e+18
...,...,...,...,...,...,...,...,...
1048570,2020-05-12 07:16:25 UTC,2.353220e+18,1.515970e+18,NaN,57.87,NaN,NaN,NaN
1048571,2020-05-12 07:08:37 UTC,2.353220e+18,1.515970e+18,2.268110e+18,electronics.smartphone,oppo,231.23,NaN
1048572,2020-05-12 09:11:47 UTC,2.353220e+18,2.273950e+18,2.268110e+18,appliances.kitchen.refrigerators,samsung,520.81,NaN
1048573,2020-05-12 06:43:09 UTC,2.353220e+18,1.515970e+18,2.268110e+18,NaN,rowenta,55.53,NaN
1048574,2020-05-12 06:43:09 UTC,2.353220e+18,1.515970e+18,2.268110e+18,NaN,provence,3.91,NaN